[submodule "pathfinder"]
	path = pathfinder
	url = https://github.com/exodus4d/pathfinder
	branch = develop
[submodule "websocket"]
	path = websocket
	url = https://github.com/exodus4d/pathfinder_websocket
